body{
    font-size: 16px;
    padding: 10px;
 
}
body div{
    height:100vh;
    display: flex;
    flex-direction: column;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color:blue;
}
nav, footer{
    flex-shrink:0;
}
nav ul li{
    list-style: none;
    padding:5px;
    margin: 5px;
    background-color: rgb(204, 204, 204);
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex-grow: 1;
}
section div{
    background-color: yellow;
    width: 400px;
    height: 200px;
}
footer{
    background-color: red;
}